{% extends "base.html" %}

{% block content %}
<h5 class="text-center title">プライバシーポリシー</h5>
<div class="col-12 overflow-auto justify-content-center bg-white text-dark" style="height:300px;">
  <p>販売業者の名称：Pathfinder株式会社</p>
  <p>代表者：小野﨑 悠介</p>
  <p>本社住所：〒173-0022 東京都板橋区仲町23-6</p>
  <p>連絡先	電話（代表）：050-5438-3472</p>
  <p>メール問い合わせ先：info@pfr.technology</p>
  <p>Webサイト：<a href="https://www.pfr.technology/">https://www.pfr.technology/</a></p>
  <p>代金：各商品ごとに表示します</p>
  <p>代金以外の必要料金：サービス提供元に準じます。</p>
  <p>代金の支払期限：利用規約に準じます。
    代金の支払い方法：クレジットカード決済
    手数料	振込手数料はお客さまご負担にてお願いいたします。
    商品の引き渡し時期：サービス提供元に準じます。
    取消料と取消期限：利用規約に準じ、所定の取消料をいただきます。
    プライバシーポリシー：弊社プライバシーポリシーに準じます。
  </p>    
</div>

{% endblock %}