{% extends "base.html" %}

{% block content %}
<h5 class="text-center title">プライバシーポリシー</h5>
<div class="col-12 overflow-auto justify-content-center bg-white text-dark" style="height:300px;">
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
  <p>プライバシーポリシーが入ります</p>
</div>

{% endblock %}