$body-bg: #00d1b2;
$body-color: #fff;

@import "node_modules/bootstrap/scss/bootstrap";

a {
    color: $body-color;
}

.text-black {
    color: #000000;
}

.card {
    color: #000000;
}

.modal {
    color: #000000;
}

.pr-0 {
    padding-right: 0;
}

.pl-0 {
    padding-left: 0;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 2rem;
}

.test {
    padding-block: none;
    padding-left: 10px;
}

// ハンバーガーメニュー
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// card 横スクロール
.row-scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    .col-scrollable {
        display: inline-block !important;
        float: none !important;
    }
}
